@using SyncMobile.Utils
@model SyncMobile.Models.PathInformation
           
<li data-role="collapsible" data-iconpos="left" data-inset="true" data-theme="a">
    @Html.HeaderFor(m => m.PathName, 6)
    @*    <h6>*@
    @*        Header*@
    @*        <span class="ui-li-count">1</span>*@
    @*    </h6>*@
    
    @Html.HiddenFor(m => m.PathName)

    <ul data-role="listview">
        @Html.EditorFor(m => m.FileInformations)
    </ul>
</li>
