@using SyncMobile.Utils
@model SyncMobile.Models.PathInformation
           
<li data-role="collapsible" data-iconpos="left" data-inset="false" data-mini="true" >
        @Html.HeaderBubbleFor(m => m.PathName, 4, m => m.PathFileCount.ToString())
        @Html.HiddenFor(m => m.PathName)

    <ul data-role="listview" data-theme="a">
        @Html.EditorFor(m => m.FileInformations)
    </ul>
</li>
