@model SyncMobile.Models.SyncInformation

<div>
    <h4>Partial Header</h4>
    
    @Html.LabelFor(m => m.FileGUID)
    @Html.TextBoxFor(m => m.PathName)
    @Html.CheckBoxFor(m => m.IsPath)

</div>
