<div>
    <ul data-role="listview" data-split-theme="a" data-inset="true">
        <li class="center" data-role="list-divider">Some Devider</li>
        <li>
            <div class="ui-grid-b">
                <div class="ui-block-a">
                    <h3>File Name</h3>
                    <p>Season Nr - Episonde Nr</p>
                </div>

                <div class="ui-block-b">
                    <br/>
                    <br/>
                    <p> Some Text</p>
                </div>

                <div class="ui-block-c">
                    <div class="ui-grid-a">
                        <div class="ui-block-a"><label><input name=" checkbox-h-2a" id="checkbox-h-2a" type="checkbox">Synced</label></div>
                        <div class="ui-block-b"><label><input name="checkbox-h-2b" id="checkbox-h-2b" type="checkbox">Watched</label></div>
                    </div>
                </div>

            </div>
        </li>
    </ul>
</div>


<div data-role="collapsible-set" data-theme="a" data-content-theme="b">
    <div data-role="collapsible">
        <h2>Collapsible Header</h2>
        <ul data-role="listview" data-split-theme="a" data-inset="true">

            <li>
                <div class="ui-grid-b">
                    <div class="ui-block-a">
                        <h3>File Name</h3>
                        <p>Season Nr - Episonde Nr</p>
                    </div>

                    <div class="ui-block-b"></div>
                    <div class="ui-block-c">
                        <div class="ui-grid-a">
                            <div class="ui-block-a"><label><input name=" checkbox-h-2a" id="checkbox-h-2a" type="checkbox">Synced</label></div>
                            <div class="ui-block-b"><label><input name="checkbox-h-2b" id="checkbox-h-2b" type="checkbox">Watched</label></div>
                        </div>
                    </div>

                </div>
            </li>

            <li>
                <div class="ui-grid-b">
                    <div class="ui-block-a">
                        <h3>File Name 2</h3>
                        <p>Season Nr - Episonde Nr</p>
                    </div>

                    <div class="ui-block-b"></div>
                    <div class="ui-block-c">
                        <div class="ui-grid-a">
                            <div class="ui-block-a"><label><input name=" checkbox-h-2a" id="checkbox-h-2a" type="checkbox">Synced</label></div>
                            <div class="ui-block-b"><label><input name="checkbox-h-2b" id="checkbox-h-2b" type="checkbox">Watched</label></div>
                        </div>
                    </div>

                </div>
            </li>

        </ul>

    </div>

    <div data-role="collapsible">
        <h2>Collapsible Header 2</h2>
        <ul data-role="listview" data-split-theme="a" data-inset="true">

            <li>
                <div class="ui-grid-b">
                    <div class="ui-block-a">
                        <h3>File Name</h3>
                        <p>Season Nr - Episonde Nr</p>
                    </div>

                    <div class="ui-block-b"></div>
                    <div class="ui-block-c">
                        <div class="ui-grid-a">
                            <div class="ui-block-a"><label><input name=" checkbox-h-2a" id="checkbox-h-2a" type="checkbox">Synced</label></div>
                            <div class="ui-block-b"><label><input name="checkbox-h-2b" id="checkbox-h-2b" type="checkbox">Watched</label></div>
                        </div>
                    </div>

                </div>
            </li>

            <li>
                <div class="ui-grid-b">
                    <div class="ui-block-a">
                        <h3>File Name 2</h3>
                        <p>Season Nr - Episonde Nr</p>
                    </div>

                    <div class="ui-block-b"></div>
                    <div class="ui-block-c">
                        <div class="ui-grid-a">
                            <div class="ui-block-a"><label><input name=" checkbox-h-2a" id="checkbox-h-2a" type="checkbox">Synced</label></div>
                            <div class="ui-block-b"><label><input name="checkbox-h-2b" id="checkbox-h-2b" type="checkbox">Watched</label></div>
                        </div>
                    </div>

                </div>
            </li>

        </ul>

    </div>
</div>
