@model SyncMobile.Models.SyncGroup

@section Header
{
    @{ Html.RenderPartial("Partials/AdditionalNavBar"); }
}



@using (Html.BeginForm("ErrorFiles", "Home", FormMethod.Post, new { @id = "editSettings" }))
{
    <input value="Submit" type="submit">
    <div>
        <ul data-role="listview" class="ui-body-a" data-split-theme="b" data-count-theme="a" data-inset="true">
            @Html.EditorFor(m => m.SyncInformations)
        </ul>
    </div>
    }

    