@using SyncMobile.Utils
@model SyncMobile.Models.PathGroup


@using (Html.BeginForm("Index", "Home"))
{
    <div data-role="collapsible-set">
        <div data-filter="true">
            <ul data-role="listview" data-inset="true" data-split-theme="b" data-count-theme="a">
                @Html.EditorFor(m => m.PathInformations)
            </ul>
        </div>
     </div>
}


