@model SyncMobile.Models.SyncGroup


@using (Ajax.BeginForm("TestAction", "Home", new AjaxOptions()
                                            {
                                                HttpMethod = "POST"
                                            }))
{
    <input value="Submit" type="submit">
    <div>
        <ul data-role="listview" class="ui-body-a" data-split-theme="b" data-count-theme="a" data-inset="true">
            @Html.EditorFor(m => m.SyncInformations)
        </ul>
    </div>
}