@model SyncMobile.Models.PathGroup


@using (Html.BeginForm("NotWatched", "Home", FormMethod.Post))
{
    <input value="Submit" type="submit">
    <div data-role="collapsible-set">
        <div data-filter="true">
            <ul data-role="listview" data-inset="true">
                @Html.EditorFor(m => m.PathInformations)
            </ul>
        </div>
     </div>
   
}


