@model SyncMobile.Models.SyncGroup


@using (Html.BeginForm("Synced", "Home"))
{
    <div>
        <ul id="listview" data-role="listview" class="ui-body-a" data-split-theme="b" data-count-theme="a" data-inset="true">
            @Html.EditorFor(m => m.SyncInformations)
        </ul>
    </div>
}