@model SyncMobile.Models.SyncInformation

@section Header
{
    @{ Html.RenderPartial("Partials/AdditionalNavBar"); }
}


<br/>

<h4>Main Header</h4>
<div id="MainHeaderDiv">

    @Html.Partial("_TestPartial")

</div>

<br/>

@Ajax.ActionLink("Click Me", "TestAction", "Home", new AjaxOptions()
                                                        {
                                                            HttpMethod = "GET",
                                                            InsertionMode = InsertionMode.Replace,
                                                            UpdateTargetId = "MainHeaderDiv"
                                                        })






@*<script type="text/javascript">*@
@*    $(document).ready*@
@*        (*@
@*            function ()*@
@*            {*@
@*                alert("Clicked");*@
@*//                $("#AnchorID").click(function () {*@
@*//                    alert("Clicked");*@
@*//                });*@
@*            }*@
@*        )*@
@*</script>*@













