@using SyncMobile.Utils
@model SyncMobile.Models.SyncInformation

<div>
    

@*    @using (Ajax.BeginForm("TestAction", "Home", new AjaxOptions()*@
@*                                                    {*@
@*                                                        HttpMethod = "POST"*@
@*                                                    }))*@
    @*    {*@
    

    <form>
        <label for="Season">Text input:</label>
        <input id="Season" type ="number" value="@Model.Season"/> 
        
        <label>Episode: </label>  
        <input type ="number" value="@Model.Episode"/>
        
        <input value="Submit" type="submit">
    </form>

</div>
