@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hgroup>
        <h1>Error.</h1>
        <h2>An error occurred while processing your request.</h2>
        <p>"Exception Message: @ViewBag.ExceptionMessage"</p>
        <p>"Connection Details: @ViewBag.ConnectionDetails"</p>
    </hgroup>
</body>
</html>
