<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Common.Properties.Settings.DbConnectionString" connectionString="data source=C:\Development\SourceVaults\PersonalVault\Neil\FileSyncTool\Database\SQLiteDatabaseFile"
            providerName="System.Data.SQLite" />
    </connectionStrings>
</configuration>