<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Common.Properties.Settings.DbConnectionString" connectionString="data source=C:\Development\SourceVaults\GIT\GitHub\FileSyncTools\Content\MediaSync.sqlitedb"
            providerName="System.Data.SQLite" />
    </connectionStrings>
</configuration>