<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IMediaSyncService" maxBufferPoolSize="2147483647"
                    maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
                <binding name="BasicHttpBinding_IService1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/MediaSync/MediaSyncService/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMediaSyncService"
                contract="MediaServiceReference.IMediaSyncService" name="BasicHttpBinding_IMediaSyncService" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/TestingService/Service1/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService1"
                contract="TestingServiceReference.IService1" name="BasicHttpBinding_IService1" />
        </client>
    </system.serviceModel>
</configuration>
