@using SyncMobile.Utils

<div data-role="navbar">
    <ul>
        <li>@Html.IconAnchor(new Options("Home", "Index") { Icon = Icons.Home })</li>
        <li>@Html.IconAnchor(new Options("Home", "AllFiles") { Icon = Icons.Grid })</li>
        <li>@Html.IconAnchor(new Options("Home", "ErrorFiles"){ Icon = Icons.Alert })</li>
    </ul>
</div>
